<hr>
<ul class="list-unstyled">
    <li>Derek Harnett</li>
    <li><a href="mailto:DHarnett.dev@proton.me">DHarnett.dev@proton.me</a></li>
    <li><a href="https://github.com/harnettd">My GitHub profile</a></li>
</ul>
