<section id="query" class="mb-3">
  <form action="/query" method="post">
    <label for="query" class="form-label">Artist query</label>
    <div class="input-group gap-1">
      <input
        type="text"
        name="query"
        id="query"
        class="form-control rounded-2"
        value="<%= appData.ui.query.input.value %>"
        <% if (appData.ui.query.input.isDisabled) { %>
          disabled 
        <% } %>
      />
      <span>
        <input 
          type="submit" 
          class="btn btn-primary rounded-2" 
          value="Submit" 
          <% if (appData.ui.query.submit.isDisabled) { %>
            disabled
          <% } %>
        />
      </span>
      <span>
        <input
          type="submit"
          class="btn btn-primary rounded-2"
          value="Clear"
          formaction="/clear"
          formmethod="get"
        /> 
      </span>
    </div>
  </form>
</section>
